


    <ion-view view-title="Dr. {{ currentdoctor.results.first_name }} {{ currentdoctor.results.last_name }}">
     <ion-content ng-class="{expanded:$scope.isExpanded}" style="background: url('img/about1.jpg') center,linear-gradient(#76b852, #1B5E20) ; background-size: cover;" >
        <div class="content has-header top0"  >

            <div class="avatar dropshadow text-right" style="z-index:2;top:105px;height:76px;width:76px;background-image: url({{ currentdoctor.results.url }}),linear-gradient(#28a54c, #8DC26F);"></div>

        <div class="has-mask" style="background-image: url({{ currentdoctor.results.url }}),linear-gradient(#28a54c, #8DC26F);-webkit-filter: grayscale(100%);filter: grayscale(100%);">
         <div class="content transparent-dark-bg">
                <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-ios-star pull-right text-white" ng-click="markStarred(currentdoctor.results.loc_id)"></button>
                <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-ios-list-outline pull-right text-white" ui-sref="app.doctorinfo({loc_id: currentdoctor.results.loc_id})"></button>
                <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-map pull-right text-white" ui-sref="app.singlemap({doc_id: currentdoctor.results.doc_id})"></button>
            </div>
        </div>
        

        
            <div class="button-bar">
            <button class="button button-small button-border icon-left ion-chevron-left button-balanced" ng-click="LoadPreviousDateAppts()">{{prevDate}}</button>        
            <button class="button button-small button-border icon-right ion-chevron-right button-balanced" ng-click="LoadNextDateAppts()">{{nextDate}}</button>
        </div>
        
        <md-content class="padding transparent-dark-bg"><div class="mid-bar textwhite text-right">
            Select a time slot for appointment on <h3>{{currentday}} {{currentDate}}</h3>
        </div>
        <div class="mid-bar z1 textwhite" ng-show="currentschedule.length==0">
            Unfortunately, No Booking Slots available for Dr. {{ currentdoctor.results.first_name }} {{ currentdoctor.results.last_name }} on {{currentday}} {{currentDate}}.
        </div>
            <md-grid-list 
        md-cols-gt-md="6" md-cols="4" md-cols-md="3"
        md-row-height-gt-md="1:1" md-row-height="8:3"
        md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="6px" >
        
      <md-grid-tile md-ink-ripple='#333'
          ng-repeat="tile in currentschedule"
          ng-style="{
            'background': tile.color
          }"
          md-colspan-gt-sm="{{tile.colspan}}"
          md-rowspan-gt-sm="{{tile.rowspan}}" class='dropshadow' ui-sref="app.appointmentdetails({btime: tile.time,bdate: currentDate})">{{tile.time}}
      </md-grid-tile>

    </md-grid-list>
  </md-content>
  </div>
       
        </div>
    </ion-content>
<ion-footer-bar class="bar-dark padding-top padding-left smalltext textwhite">
      Book Appointment of Dr. {{ currentdoctor.results.first_name }} {{ currentdoctor.results.last_name }}
    </ion-footer-bar>
</ion-view>