<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">Terms & Conditions</h1>
      <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content has-header="true" padding="true">
<div class="padding" > 
<p>‘PrescriptionVault’ is the author and publisher of the application software 

‘PrescriptionVault’ primarily for Users/Patients to find, manage and organise 

information including but not limited to personal or non-personal information, practice 

information, appointments of Registered Medical Practitioners, and storage of 

Medical Prescriptions, Medical Records Etc.</p>

<p>We request you to please read these Terms & Conditions carefully and do not click 

"sign up" or continue the use of the System unless you agree fully with these Terms 

& Conditions. By using the Site, you signify your agreement to these Terms & 

<p>By signing this Consent Form, the ‘User/Patient’ do hereby accords his/her explicit 

consent to ‘PrescriptionVault’ to store his/her information and data including but not 

limited to personal or non-personal information, medical records, medical 

prescriptions, and feedback Etc.</p>

<p>You will not: (a) use the System for time-sharing, rental or service bureau purposes; 

(b) make the System, in whole or in part, available to any other person, entity or 

business; (c) modify the Materials or use them for any commercial purpose, or any 

public display, performance, sale or rental; (c) copy, reverse engineer, decompile or 

disassemble the System, in whole or in part, or otherwise attempt to discover the 

source code to the software used in the System; or (d) modify the Services or the 

System or associated software or combine the Services or the System with any other 

software or services not provided or approved by us.</p>

<p>You will obtain no rights to the System except for the limited rights to use the System 

expressly granted by these Terms & Conditions. Any unauthorized use of any 

Materials or information available on the Site may violate patent, copyright, trademark, and other laws.</p>

<p>‘PrescriptionVault’ does not give any warranty or guarantee about any service of the 

Registered Medical Practitioner in any manner, nor shall be responsible for the 

feedback or comments from other Users/Patients.</p>

<p>WE CANNOT AND DO NOT ASSUME ANY RESPONSIBILITY FOR YOUR USE 

OR MISUSE OF INFORMATION TRANSMITTED, MONITORED, STORED OR 

RECEIVED WHILE USING THE SITE OR THE MATERIALS. WE RESERVE THE 

RIGHT TO AMEND OR DELETE ANY MATERIAL (ALONG WITH THE RIGHT TO 

REVOKE ANY MEMBERSHIP OR RESTRICT ACCESS TO ‘PrescriptionVault’) 

THAT IN OUR SOLE DISCRETION VIOLATES THE ABOVE.</p>
</div>
    </ion-content >
 </ion-modal-view>

  		